.container {
	display: flex;
	width: 250px;
	margin-bottom: 20px;
}
.container input {
	border: none;
	text-align: center;
	background-color: transparent;
	text-transform: uppercase;
	padding: 0 30px;
	width: 100%;
}
