.form {
	opacity: 0;
}
.container {
	width: 630px;
	border: 0.5px solid #000000;
	padding: 120px 50px;
	margin-bottom: 20px;
}
.container h3 {
	padding-bottom: 50px;
	margin: 0 50px;
	border-bottom: 0.5px solid #000000;
	font-size: 26px;
	text-transform: uppercase;
}

.vegetablesContainer {
	display: grid;
	gap: 15px 5px;
	grid-template-columns: 100px 100px 100px;
}
.vegetablesContainer input {
	position: absolute;
	width: 0;
	height: 0;
}
.vegetablesContainer label {
	position: relative;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: #fbfbfb;
}
.vegetablesContainer input:checked + label {
	background-color: white;
	border: 1px solid black;
}
.spreadContainer {
	display: flex;
	justify-content: space-between;
	width: 120px;
}

.fadeIn {
	animation: fadeIn 5s ease-in forwards;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.radiusCheckbox,
.radiusCheckbox::before {
	border-radius: 50%;
}
.servingContainer {
	display: flex;
	flex-direction: row-reverse;
	width: 300px;
	text-align: left;
}
.toppingContainer {
	display: flex;
	width: 120px;
	justify-content: space-between;

}
