.form {
	opacity: 0;
}
.container {
	width: 630px;
	border: 0.5px solid #000000;
	padding: 100px 50px;
	margin-bottom: 20px;
}
.container h3 {
	padding-bottom: 50px;
	margin: 0 50px;
	border-bottom: 0.5px solid #000000;
	font-size: 26px;
	text-transform: uppercase;
	font-family: Instrument Serif;
	font-weight: 400;
	line-height: 33.8px;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}

.vegetablesContainer {
	display: grid;
	gap: 15px 5px;
	grid-template-columns: 100px 100px 100px;
}
.vegetablesContainer input {
	position: absolute;
	width: 0;
	height: 0;
}
.vegetablesContainer label {
	position: relative;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: #fbfbfb;
	font-size: 12px;
	line-height: 15.74px;
	color: black;
}
.vegetablesContainer input:checked + label {
	background-color: white;
	border: 1px solid black;
}
.spreadContainer {
	display: flex;
	justify-content: space-between;
	width: 120px;
}

.radiusCheckbox,
.radiusCheckbox::before {
	border-radius: 50%;
}
.servingContainer {
	display: flex;
	flex-direction: row-reverse;
	width: 300px;
	text-align: left;
}
.toppingContainer {
	display: flex;
	width: 120px;
	justify-content: space-between;
}
.addToOrderContainer {
	display: flex;
	justify-content: space-between;
	width: 150px;
}
.inputPaniniName {
	width: 330px;
	height: 36px;
	position: relative;
}
.inputPaniniName input {
	position: absolute;
	right: 0;
	width: 100%;
	padding: 10px;
}
.inputPaniniName input::placeholder {
	padding: 10px;
}
.fadeIn {
	animation: fadeIn 5s ease-in forwards;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
